@import '../lib/mixins';
@import '../lib/var';

.my-btn {
  background: #57B56B;
  position: relative;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  line-height: 30px;
  padding: 15px 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-family: $bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.05em;
  border: none;
  overflow: hidden;
  text-decoration: none;
@include max-screen(sm){
  font-size: 15px;
}
  span {
    position: relative;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &:hover {
    background-color: lighten(#57B56B, 10%);
  }

  &:disabled {
    background: #b9b9ce;
  }

  &--border {
    background: transparent;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #57B56B;
    border: 1px solid #57B56B;
    border-radius: 8px;

    &:hover {
      background-color: lighten(#57B56B, 10%);
      color: #fff;
    }
  }
}
.box{
  background: #282836;
  border-radius: 16px;
}
.my-title{
  font-size: 58px;
  line-height: 1.2;
 color: #FFFFFF;
  font-family: $bold;
  @include max-screen(xxl){
    font-size: 40px;
  }
  @include max-screen(md){
    font-size: 30px;
  }
}
.my-text{
  font-family: $light;
  font-size: 17px;
  line-height: 30px;
 color: #FFFFFF;
  @include max-screen(xxl){
    font-size: 15px;
  }
  @include max-screen(md){
    font-size: 13px;
    line-height: 20px;
  }
  &--width{
    max-width: 575px;
    @include max-screen(lg){
      max-width: 490px;
    }
    @include max-screen(md){
      max-width: 365px;
    }
    @include max-screen(sm){
      font-size: 11px;
    }
    @include max-screen(xs){
      max-width: 100%;
      width: 100%;
    }
  }
  p{
    + p{
      margin-top: 20px;
      @include max-screen(md){
        margin-top: 10px;
      }
    }
  }
}