@import "../lib/mixins";
@import "../lib/var";

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #57B56B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4799eb;
}

* {
  outline: none !important;
}


img {
  max-width: 100%;
}



.main-banner {
  padding-top: 100px;
  padding-bottom: 10px;
  background-color: transparent;
  background-image: url("assets/img/main-bg.jpg");
  background-size: 1960px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  @include max-screen(xxl){
    background-size: 1695px;
    height: 875px;
  }
  @include max-screen(lg) {
    height: 830px;
    background-size: 1610px;
    padding-top: 195px;
  }
  @include max-screen(md) {
    height: 595px;
    background-size: 1165px;
    padding-top: 135px;
  }
  @include max-screen(sm) {
    height: 470px;
    background-size: 912px;
  }
  @include max-screen(xs) {
    &:before {
      content: "";
      background-color: rgba(#000000, .5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 157px;
    margin-left: 303px;
    @include max-screen(xxl) {
      top: 166px;
      margin-left: 260px;
    }
    @include max-screen(xl) {
      top: 231px;
    }
    @include max-screen(lg) {
      margin-left: 247px;
      top: 215px;
    }
    @include max-screen(md) {
      margin-left: 185px;
      top: 155px;
    }
    @include max-screen(sm) {
      margin-left: 128px;
      top: 100px;
    }
  }

  &__title {
    font-family: $bold;
    font-size: 58px;
    line-height: 74px;
    color: #FFFFFF;
    margin-bottom: 25px;
    position: relative;
    max-width: 635px;
    @include max-screen(xxl) {
      font-size: 45px;
      line-height: 60px;
      max-width: 500px;
    }
    @include max-screen(lg) {
      font-size: 35px;
      line-height: 58px;
      max-width: 480px;
    }
    @include max-screen(md) {
      font-size: 30px;
      line-height: 45px;
      max-width: 380px;
    }
    @include max-screen(sm) {
      font-size: 25px;
      line-height: 28px;
      max-width: 340px;
    }
    @include max-screen(xs) {
      font-size: 20px;
      line-height: 25px;
      max-width: 220px;
      position: relative;
      z-index: 10;
    }

    &:before {
      content: "";
      position: absolute;
      width: 6px;
      height: calc(100% - 35px);
      background-color: #57B56B;
      top: 20px;
      left: -40px;
      @include max-screen(xl) {
        left: -20px;
      }
      @include max-screen(sm) {
        height: calc(100% - 23px);
        top: 15px;
      }
      @include max-screen(xs) {
        height: calc(100% - 7px);
        top: 4px;
        left: -12px;
        width: 2px;
      }
    }
  }

  &__info {
    max-width: 700px;
  }

  &__subtitle {
    font-size: 30px;
    line-height: 44px;
    color: #FFFFFF;
    font-family: $base-font;
    margin-bottom: 42px;
    max-width: 550px;
    @include max-screen(xxl) {
      font-size: 23px;
      max-width: 400px;
      line-height: 39px;
    }
    @include max-screen(lg) {
      font-size: 23px;
    }
    @include max-screen(md) {
      font-size: 20px;
      max-width: 320px;
      line-height: 35px;
    }
    @include max-screen(sm) {
      font-size: 17px;
      max-width: 295px;
      line-height: 28px;
    }
    @include max-screen(xs) {
      font-size: 13px;
      max-width: 215px;
      line-height: 23px;
      position: relative;
      z-index: 10;
    }
  }

  &__btn {
    width: 340px;
    height: 70px;
    @include max-screen(xxl) {
      width: 300px;
      height: 55px;
    }
    @include max-screen(sm) {
      width: 245px;
      height: 45px;
    }
    @include max-screen(xs) {
      width: 200px;
    }

    .my-btn {
      width: 100%;
      height: 100%;
    }
  }
}

.circles {
  width: 910px;
  height: 910px;
  position: relative;
  overflow: hidden;
  @include max-screen(xxl) {
    width: 710px;
    height: 710px;
  }
  @include max-screen(xl) {
    width: 575px;
    height: 575px;
  }
  @include max-screen(lg) {
    width: 520px;
    height: 520px;
  }
  @include max-screen(md) {
    width: 380px;
    height: 380px;
  }
  @include max-screen(sm) {
    width: 315px;
    height: 315px;
  }

  &__item {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &--one {
      background-image: url("assets/img/circle-1.png");

    }

    &--two {
      background-image: url("assets/img/circle-2.png");
      animation: bannerRotation 40s linear infinite;
    }

    &--three {
      background-image: url("assets/img/circle-3.png");
      animation: bannerRotation 60s linear infinite reverse;
    }
  }
}

@keyframes bannerRotation {
  from {
    transform: rotate(0deg);

  }
  to {
    transform: rotate(360deg);
  }
}

